*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 10;
  background-color: #073B4C;
  font-family: 'Bahianita', cursive;
}

h1 {
margin: 0 auto;
max-width: 100%;
text-align: center;
font-family: 'Bahianita';
font-style: normal;
font-weight: 400;
font-size: 8em;
/* -webkit-text-stroke: 1px black; */
letter-spacing: 2px;
text-shadow: black 6px 6px;
color: rgba(239, 71, 111, 0.9);

/* outline: 5px solid #000000; */

}

main {
  min-height: 100vh;
  max-width: 60%;
  padding-top: 80px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  gap: 3%;
}

.monitor {
  /* max-width: 80%; */
  border: 5px solid rgb(32 37 67);
  background-color: rgba(84, 93, 112, 0.42);
  padding: 4rem;
  height: 200px;
}

.monitor.left,
.monitor.right {
  min-width: 250px;
  box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, 0.38)
}

.monitor-left-para, .monitor-right-para {
  margin-top: 7px;
  /* border-radius: 20px; */
  font-size: 2rem;
  border-top-style: none;
  /* border-right-style: dotted; */
  /* border-bottom-style: double; */
  border-left-style: none;
  background-color: #00000000;
  box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, 0.38)
}

.monitor-left-para {
  color: rgba(255, 209, 102, 1);
}

.monitor-right-para {
  color: rgba(210, 199, 204, 1);
}

.monitor.center {
  width: 15%;
  background-color: #073B4C;
  border: 2px dotted transparent;
  /* border: 2px dotted rgba(32, 39, 84, 1); */
}

.controls-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.rps--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: rgba(6, 214, 160, 0.69);
  border-radius: 100%;
  border: 2px solid rgba(7, 59, 76, 0.54);
  box-shadow: 5px 4px 1px 1px rgba(0, 0, 0, 0.38);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.rps--button:active {
  transform: translateY(4px);
  box-shadow: 0 2px rgba(255, 209, 102, 1);;
}