*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 10;
  background-color: #073B4C;
  font-family: 'Bahianita', cursive;
}

h1 {
margin: 0 auto;
max-width: 100%;
text-align: center;
font-family: 'Bahianita';
font-style: normal;
font-weight: 400;
font-size: 8em;
color: rgba(239, 71, 111, 0.9);

outline: 5px solid #000000;

}